<navbar></navbar>
<div class="row main-container">
  <sidebar></sidebar>
  <div class="col-lg-10">
    <h3>Top Trending</h3>
    <div class="well">
      <div class="row">
        <div ng-repeat="item in main.trending" class="app-container">
          <div class="content" ng-click="main.openApplication(item._id)">
            <div class="image-container">
              <img src="assets/images/vlc.webp"/>
            </div>
            <div class="title-container">
              <span>{{item.name}}</span>
            </div>
            <div class="rating-container">
              <star-rating ng-model="item.rating" readonly="true"></star-rating>
              <span class="price">{{item.price.currency + " " + item.price.amount}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3>Top Free</h3>
    <div class="well">
      <div class="row">
        <div ng-repeat="item in main.topFree" class="app-container">
          <div class="content" ng-click="main.openApplication(item._id)">
            <div class="image-container">
              <img src="assets/images/vlc.webp"/>
            </div>
            <div class="title-container">
              <span>{{item.name}}</span>
            </div>
            <div class="rating-container">
              <star-rating ng-model="item.rating" readonly="true"></star-rating>
              <span class="price">{{item.price.currency + " " + item.price.amount}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3>Top Paid</h3>
    <div class="well">
      <div class="row">
        <div ng-repeat="item in main.topPaid" class="app-container">
          <div class="content" ng-click="main.openApplication(item._id)">
            <div class="image-container">
              <img src="assets/images/vlc.webp"/>
            </div>
            <div class="title-container">
              <span>{{item.name}}</span>
            </div>
            <div class="rating-container">
              <star-rating ng-model="item.rating" readonly="true"></star-rating>
              <span class="price">{{item.price.currency + " " + item.price.amount}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer></footer>
